/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #333;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
  }
  
  a {
    color: #007aff;
    text-decoration: none;
  }
  
  /* Hero Section */
  .hero {
    background: url('https://wallpaperaccess.com/full/1124592.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 2rem;
    color: #fff;
  }
  
  .programs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem 0;
  }
  
  .program {
    width: 300px;
    margin: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
  }
  
  .program:hover {
    transform: translateY(0);
  }
  
  .program.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .program img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .program-info {
    text-align: center;
  }
  
  .program-info h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #222;
  }
  
  .program-info p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
  }
  
  .program-info a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  .program-info a:hover {
    background-color: #444;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 1rem;
    font-size: 0.8rem;
  }
  
  .about-me {
    flex: 1;
    text-align: left;
  }
  
  .about-me h2 {
    margin: 0;
    font-size: 1rem;
  }
  
  .about-me p {
    margin: 0;
  }
  
  .copyright {
    flex: 1;
    text-align: right;
  }
  