#blob {
    height: 500px;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(
        to right,
        rgb(42, 252, 152),
        rgb(41, 121, 255)
    );
    animation: rotate 20s infinite;
}

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    display: grid;
    place-items: center;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blur {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(200px);
}

/* Text in the middle */

:root {  
  --green: rgb(42, 252, 152);
  --blue: rgb(41, 121, 255);
}

@keyframes float {
  from, to {
    transform: translateY(-0%);
  }
  
  50% {    
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }
  
  to {
    background-position: 0% center;
  }
}

body {
  height: 100vh;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  color: white;
  font-size: clamp(2rem, 8vw, 10rem);
  font-family: "Rubik", sans-serif;
  margin: 0rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
}

a {
  text-decoration: none;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: linear-gradient(
    to right,
    var(--blue),
    var(--green),
    var(--blue)
  );
  background-size: 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 150s linear infinite;
}

.fancy:hover > .outer:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .outer:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(11) {
  transform: translate(50%, -10%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(12) {
  transform: translate(120%, -30%) rotate(-10deg);
}

.fancy:hover > .outer:nth-child(13) {
    transform: translate(111%, -10%) rotate(-10deg);
}

.fancy:hover > .outer:nth-child(14) {
    transform: translate(120%, -50%) rotate(-10deg);
}

.fancy:hover > .outer:nth-child(15) {
    transform: translate(120%, -30%) rotate(-10deg);
}

/* -- YouTube Link Styles -- */

body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link > i {
    color: rgb(239, 83, 80);
  }
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  }

  /* Center everything */

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    zoom: 0.6;
  }

  /* NAV */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0;
    z-index: 9999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 5;
    display: flex;
    justify-content: flex-start;
}

nav li {
    margin: 0 2px;
    display: inline-flex;
    align-items: center;
    padding: 23px 0px;
    border-radius: 20px;
}

.nav-btn {
    background-color: rgba(100, 100, 100, 0.25);
    border: none;
    color: rgba(100, 100, 100, 0.25);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    transition: 0.5s;
  }

  .nav-btn:hover {
    background-color: white;
    color: black;
  }

  .gradient-text:hover {
    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(90deg, #FAA464, #FE1969);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .gradient-text-reverse:hover {
    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(90deg, #FE1969, #FAA464);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .gradient-text-electrician:hover {

    background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 1s linear infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  .latest-btn {
    z-index: 999;
  }
  
  .projects-btn,
  .about-btn {
    margin-left: -75px;
    z-index: 200;
    font-size: 0;
    opacity: 1;
    transition: margin-left 0.5s, opacity 0.5s;
  }
  
  .projects-btn button,
  .about-btn button {
    color: transparent;
  }
  
  .nav-bar {
    padding: 0;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    z-index: 9999;
  }
  
  .main-btn {
    background-color: rgba(100, 100, 100, 0.25);
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    transition: 0.5s;
  }
  
  .main-btn:hover {
    background-color: white;
    color: black;
  }
  
  .latest-btn:hover ~ .projects-btn button,
  .latest-btn:hover ~ .about-btn button {
    color: white;
  }
  
